<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup Form</title>
</head>
<script type="text/javascript">
    <!--     var result = confirm('회원가입을 하시겠습니까 ?');-->
    <!--        if(result) {-->
        <!--            location.replace('login');-->
        <!--            alert('회원가입이 완료 되었습니다.');-->
        <!--        } else {-->
        <!--            location.replace('signup');-->
        <!--            alert('회원가입이 취소 되었습니다.')-->
        <!--        }-->

        var win = alert('회원가입이 완료 되었습니다.');
        win;
        location.href = "/";

</script>
<body>
</body>
</html>
